<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Task Mananager</h1>
	<hr>
    {{{body}}}
  </body>
</html>
